body{
    background: linear-gradient(45deg,aquamarine,bisque,rgb(194, 224, 87));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.one{
  color: rgb(229, 21, 229);
}